body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar__top-section {
    background-color: #dceef4;
    display: flex;
    padding: 25px;
    justify-content: center;
}

.navbar__top-section h3 {
    margin: 0;
    font-weight: lighter;
    font-size: 15px;
    padding-right: 15px;

}

.navbar__top-section p {
    padding: 0px;
    margin: 0px;
    font-weight: lighter;
    font-size: 15px;
}

.navbar__main {
    
}

/* .navbar__main--icon-section {

} */